.hidden {
  display: none !important;
  visibility: hidden;
}
.vishidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.vishidden.focusable:active,
.vishidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
html,
body {
  min-height: 100%;
  -webkit-text-size-adjust: none;
  font-size: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  padding: 0;
  border: 0;
  margin: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  padding: 0;
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
iframe {
  border: 0;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
b,
strong {
  font-weight: bold;
}
abbr[title] {
  border-bottom: 1px dotted;
}
address {
  font-style: normal;
  margin: 0 0 1.0em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img,
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  border: 0;
}
.gMap img {
  max-width: none;
}
input,
textarea,
button,
select {
  vertical-align: baseline;
  font-size: 100%;
  line-height: normal;
  margin: 0;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
.clear {
  height: 0;
  clear: both;
  font-size: 0.1em;
  line-height: 0.1em;
  padding: 0;
  margin: 0;
}
hr {
  width: 100%;
  height: 1px;
  clear: both;
  background-color: #eee;
  color: #eee;
  border: 0;
  margin: 1em 0;
}
.embed-container {
  max-width: 100%;
  height: 0;
  height: auto;
  overflow: hidden;
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  margin-bottom: 1em;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
